body{
	background: url("../images/background.png");
	margin-bottom: 50px;
}
.ico{
	width: 50px;
}

.jumbotron{
	margin-top: 30px;
}

.videoDiv{
	height: 550px;
	background-color: #DDD;
}
