body{
	background: url("../images/background.png");
	margin-bottom: 50px;
}
.ico{
	width: 50px;
}

.jumbotron{
	margin-top: 30px;
}

.videoDiv{
	height: 600px;
	background-color: #DDD;
}

.imgLogo{
	vertical-align: middle;
}

@font-face {
    font-family: 'orangeJuice'; /*a name to be used later*/
    src: url('orange_juice.ttf'); /*URL to font*/
}

.logoText{
	font-family: 'orangeJuice';
	font-size: 80px;
}